<!DOCTYPE html>
<html>
  <head>
    <title>Mechano</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>WWelcome to <%= title %></p>
  </body>
</html>
